*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  vertical-align: baseline;
  overflow-x: hidden;
  /* Include media queries for font size here */ }

body {
  box-sizing: border-box;
  background-color: #000;
  scroll-behavior: smooth; }

footer,
header,
nav,
section,
main {
  display: block; }

ol,
ul {
  list-style: none; }

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: #fff; }

body {
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: .15rem;
  word-spacing: .2rem;
  color: #fff; }

.heading-primary {
  color: #fff;
  font-weight: 400; }
  .heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 1rem; }
  .heading-primary--sub {
    display: block;
    font-size: 3.6rem;
    letter-spacing: .3rem; }
  .heading-primary--title {
    display: block;
    color: #b10c0c;
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 800; }
  .heading-primary--lower {
    font-size: 2.4rem;
    letter-spacing: .2rem;
    font-weight: inherit; }

.heading-secondary {
  color: #fff;
  font-weight: 400;
  font-size: 3.6rem;
  padding-top: 8rem; }

.heading-tertiary {
  color: #fff;
  font-weight: 400;
  font-size: 3rem; }

.center-text {
  display: inline-block;
  width: 100%;
  text-align: center !important; }

.mb-large {
  margin-bottom: 8rem !important; }

.mt-large {
  margin-top: 8rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.cast {
  width: 75%;
  margin: auto;
  min-height: 22rem;
  padding: 2rem;
  box-shadow: 3px 3px 10px -4px rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.4);
  transform: skewX(-12deg); }
  .cast > * {
    transform: skewX(12deg); }
  .cast__shape {
    width: 15rem;
    height: 15rem;
    margin: 2rem;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    shape-outside: circle(50%); }
  .cast__img {
    height: 100%;
    width: 100%;
    transform: scale(1.2);
    transition: all .5s; }
  .cast__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.3rem;
    font-weight: 400;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all .5s; }
  .cast:hover .cast__img {
    transform: scale(1.6);
    filter: blur(3px) brightness(80%); }
  .cast:hover .cast__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .cast__more:hover, .cast__more:active {
    text-decoration: underline;
    text-underline-offset: .8rem; }

.header {
  position: relative;
  width: 100%;
  height: calc(100vh - 7rem); }
  .header__text-box {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
  .header__img {
    margin-top: 2rem;
    width: 90%; }
  .header__title-lower {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%); }

.navigation {
  position: relative;
  background-color: #252525;
  width: 100%;
  height: 7rem;
  font-size: 2.2rem; }
  .navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%; }
  .navigation__link {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid transparent; }
  .navigation__link:hover, .navigation__link:active {
    border-bottom: 2px solid #fff; }

.mobsters {
  position: relative;
  width: 100%;
  font-size: 2rem;
  font-weight: 200;
  margin: 2rem auto; }
