@keyframes makeVisible {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes borderVisible {
  0% {
    border-bottom: 4px solid transparent; }
  100% {
    border-bottom: 4px solid #b10c0c; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  vertical-align: baseline;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* Include media queries for font size here */ }
  @media only screen and (max-width: 25.876em) {
    html {
      font-size: 15%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-height: 30em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-height: 22em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box;
  background-color: #000;
  height: 100%;
  overflow-x: hidden; }

footer,
header,
nav,
section,
main {
  display: block; }

ol,
ul {
  list-style: none; }

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: #fff; }

body {
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: .15rem;
  word-spacing: .2rem;
  color: #fff; }

section {
  font-family: 'Libre Franklin', sans-serif;
  position: relative;
  font-size: 2rem;
  font-weight: 200; }

.photo-credit {
  font-size: 1rem;
  color: #d1d1d1;
  transform-origin: top left;
  transform: rotate(-90deg); }

.heading-primary {
  color: #fff;
  font-weight: 400; }
  .heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 1rem; }
  .heading-primary--sub {
    display: block;
    font-size: 3.6rem;
    letter-spacing: .3rem; }
  .heading-primary--title {
    display: block;
    color: #3d0000;
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 800; }
  .heading-primary--lower {
    font-size: 2.8rem;
    letter-spacing: .2rem;
    font-weight: inherit; }

.heading-secondary {
  color: #fff;
  font-weight: 400;
  font-size: 3.6rem;
  padding-top: 8rem;
  text-align: center; }

.heading-tertiary {
  color: #fff;
  font-weight: 400;
  font-size: 2.6rem; }
  @media only screen and (max-width: 25.876em) {
    .heading-tertiary {
      font-size: 2rem; } }

.heading-quaternary {
  font-weight: 600;
  font-size: 2.2rem; }

.center-text {
  display: inline-block;
  width: 100%;
  text-align: center !important; }

.mb-xsmall {
  margin-bottom: 1rem !important; }

.mb-small {
  margin-bottom: 2rem !important; }

.mb-medium {
  margin-bottom: 4rem !important; }

.mb-large {
  margin-bottom: 8rem !important; }

.mt-medium {
  margin-top: 4rem !important; }

.mt-large {
  margin-top: 8rem !important; }

.extra-padding {
  padding-bottom: 7rem; }

.btn-more {
  cursor: pointer; }

.btn-more:hover,
.btn-more:active {
  text-decoration: underline;
  text-underline-offset: .8rem; }

.section-wrapper {
  position: relative;
  display: block;
  padding-bottom: 3vh;
  background-color: #b10c0c;
  clip-path: polygon(0 21vh, 0 100%, 100% calc(100% - 19vh), 100% 1vh);
  z-index: 1000; }

.section-backdrop {
  position: relative;
  display: block;
  background-color: #000;
  width: 100%;
  clip-path: polygon(0 22vh, 0 calc(100% - 2vh), 100% calc(100% - 17vh), 100% 6vh);
  z-index: 6; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .25;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.bloody {
  position: absolute;
  top: 0rem;
  width: 100%; }
  @media only screen and (max-width: 42em) {
    .bloody {
      top: 0; } }
  .bloody__filter {
    position: absolute;
    height: 100%;
    width: 100%; }
  .bloody__canvas {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    filter: blur(1px) contrast(1.6);
    background-color: #000; }
  .bloody__stop {
    opacity: 0;
    z-index: 3000;
    position: absolute;
    font-size: 1.6rem;
    bottom: 2rem;
    right: 2rem;
    padding: 2rem;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(120, 0, 0, 0.7);
    border-radius: 1000px;
    animation: makeVisible 1s 15s forwards; }
    @media only screen and (max-width: 42em) {
      .bloody__stop {
        bottom: -3rem;
        left: 1rem;
        right: auto; } }

.contact {
  margin-top: -40vh;
  padding: calc(40vh + 10rem) 10% 10% 10%;
  background-color: #000; }
  @media only screen and (max-width: 32em) {
    .contact {
      padding: calc(40vh + 10rem) 0 0 0; } }
  .contact__container {
    position: relative;
    width: 80%;
    background-color: #fff;
    color: #000;
    border: 0.8rem solid #000;
    border-radius: 2rem;
    margin: auto;
    display: block; }
    @media only screen and (max-width: 32em) {
      .contact__container {
        width: 90%; } }
  .contact__image {
    padding: 2rem;
    width: 100%; }
    .contact__image--container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      border: 0.3rem solid #2f3037;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      transform: translate(-50%, -50%); }
      @media only screen and (max-width: 42em) {
        .contact__image--container {
          width: 12rem;
          height: 12rem; } }
      @media only screen and (max-width: 25.876em) {
        .contact__image--container {
          width: 10rem;
          height: 10rem; } }
  .contact__heading {
    color: currentColor;
    text-align: center;
    padding-top: 8rem; }
    @media only screen and (max-width: 32em) {
      .contact__heading {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 25.876em) {
      .contact__heading {
        font-size: 2rem; } }
  .contact__form {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.3rem; }
    @media only screen and (max-width: 32em) {
      .contact__form {
        width: 90%; } }
  .contact__input {
    padding: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 400; }
    .contact__input--name, .contact__input--email {
      width: 50%; }
      @media only screen and (max-width: 42em) {
        .contact__input--name, .contact__input--email {
          width: 100%; } }
    .contact__input--text {
      width: 100%; }
  .contact__col {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.3rem; }
    @media only screen and (max-width: 42em) {
      .contact__col {
        flex-direction: column; } }
  .contact__button {
    margin: 1.3rem;
    padding: 1.2rem 3rem;
    align-self: flex-end;
    background-color: rgba(177, 12, 12, 0.9);
    border: none;
    color: #fff;
    letter-spacing: 1px; }
    .contact__button:hover, .contact__button:focus {
      transform: translateY(-1px);
      box-shadow: 2px 2px 2px #000; }
    .contact__button:active {
      transform: translateY(1px); }

.gallery__grid {
  width: 85%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1rem; }
  @media only screen and (max-width: 42em) {
    .gallery__grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 25vw);
      gap: 0;
      margin: 5rem 2px;
      width: calc(100% - 4px); } }

.gallery__text {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
  margin: 2rem; }

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #fff;
  transition: all .5s; }
  @media only screen and (max-width: 42em) {
    .gallery__item {
      border: 0.5px solid #d1d1d1;
      grid-area: auto !important; } }
  .gallery__item:hover, .gallery__item:focus {
    transform: scale(1.5); }
    @media only screen and (max-width: 42em) {
      .gallery__item:hover, .gallery__item:focus {
        transform: none !important; } }
  .gallery__item--1 {
    grid-area: 1 / 1 / 5 / 3; }
  .gallery__item--2 {
    grid-area: 4 / 4 / 8 / 6; }
  .gallery__item--3 {
    grid-area: 3 / 3 / 5 / 4; }
    .gallery__item--3:hover {
      transform: scale(2.2); }
  .gallery__item--4 {
    grid-area: 1 / 5 / 4 / 6; }
  .gallery__item--5 {
    grid-area: 1 / 3 / 3 /5; }
  .gallery__item--6 {
    grid-area: 5 / 1 / 8 / 4;
    object-position: top; }
    .gallery__item--6:hover {
      transform: scale(1.3); }
  .gallery__item--7 {
    grid-area: 6 / 6 / 8 / 8; }
  .gallery__item--8 {
    grid-area: 3 / 4 / 4 / 5; }
    .gallery__item--8:hover {
      transform: scale(2.5); }
  .gallery__item--9 {
    grid-area: 3 / 6 / 6 / 9; }
    .gallery__item--9:hover {
      transform: scale(1.3); }
  .gallery__item--10 {
    grid-area: 6 / 8 / 8 / 9; }
  .gallery__item--11 {
    grid-area: 1 / 6 / 3 / 7; }
  .gallery__item--12 {
    grid-area: 1 / 7 / 3 / 9; }
  .gallery__item--1a {
    grid-area: 1 / 1 / 3 / 2; }
  .gallery__item--2a {
    grid-area: 1 / 2 / 3 / 4; }
  .gallery__item--3a {
    grid-area: 1 / 4 / 5 / 6;
    object-position: left; }
    .gallery__item--3a:hover {
      transform: scale(1.3); }
  .gallery__item--4a {
    grid-area: 1 / 6 / 4 / 9; }
    .gallery__item--4a:hover {
      transform: scale(1.3); }
  .gallery__item--5a {
    grid-area: 3 / 1 / 6 / 4; }
    .gallery__item--5a:hover {
      transform: scale(1.3); }
  .gallery__item--6a {
    grid-area: 4 / 6 / 6 / 7;
    object-position: top; }
    .gallery__item--6a:hover {
      transform: scale(2); }
  .gallery__item--7a {
    grid-area: 5 / 5 / 6 / 6; }
    .gallery__item--7a:hover {
      transform: scale(3); }
  .gallery__item--8a {
    grid-area: 6 / 1 / 8 / 3; }
  .gallery__item--9a {
    grid-area: 6 / 3 / 8 / 4; }
    .gallery__item--9a:hover {
      transform: scale(1.4); }
  .gallery__item--10a {
    grid-area: 5 / 4 / 8 / 5; }
  .gallery__item--11a {
    grid-area: 6 / 5 / 8 / 7; }
  .gallery__item--12a {
    grid-area: 4 / 7 / 8 / 9; }
    .gallery__item--12a:hover {
      transform: scale(1.3); }

.happenings {
  font-family: 'Roboto', sans-serif;
  width: 100%; }
  .happenings__intro {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 1rem; }
  .happenings__btn {
    position: absolute;
    top: 50%;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 3.5rem;
    background-color: #2f3037;
    color: #fff;
    border: none; }
    .happenings__btn--left {
      left: calc(14% - 6rem); }
    .happenings__btn--right {
      right: calc(14% - 6rem); }
    @media only screen and (max-width: 25.876em) {
      .happenings__btn {
        display: none; } }
  .happenings__container {
    max-width: 72%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
    margin: auto;
    position: relative; }
    @media only screen and (max-width: 25.876em) {
      .happenings__container {
        flex-wrap: wrap;
        width: 90%; } }
  .happenings__event {
    display: inline-block;
    border-left: 2px solid currentColor; }
    .happenings__event--1 {
      color: #8a0505; }
    .happenings__event--2 {
      color: #043b68; }
    .happenings__event--3 {
      color: #741450; }
    .happenings__event--4 {
      color: #923812; }
    .happenings__event--5 {
      color: #025a54; }
    @media only screen and (max-width: 25.876em) {
      .happenings__event {
        width: 100%; } }
  .happenings__date {
    color: currentColor;
    display: inline-block; }
    .happenings__date--day {
      float: left;
      font-size: 5rem;
      font-weight: 300;
      padding-left: 1rem; }
      @media only screen and (max-width: 25.876em) {
        .happenings__date--day {
          font-size: 3rem; } }
    .happenings__date--year {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase;
      width: 10rem;
      padding: 1rem; }
      @media only screen and (max-width: 25.876em) {
        .happenings__date--year {
          font-size: 1rem; } }
  .happenings__image-container {
    width: 100%; }
    @media only screen and (max-width: 25.876em) {
      .happenings__image-container {
        display: none; } }
  .happenings__image {
    width: 100%;
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor; }
  .happenings__text {
    font-size: 1.4rem;
    color: #a7a7a7;
    font-family: "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1rem; }
  .happenings__heading {
    display: inline-block;
    margin-right: 2rem; }
  .happenings__footer {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 200; }

.cast {
  width: 75%;
  margin: auto;
  min-height: 22rem;
  padding: 2rem;
  box-shadow: 3px 3px 10px -4px rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.6);
  transform: skewX(-12deg);
  position: relative;
  z-index: 5;
  transition: transform 2s; }
  .cast:nth-child(odd) {
    transform: skew(-12deg) translateX(-100vw); }
    @media only screen and (max-width: 32em) {
      .cast:nth-child(odd) {
        transform: translateX(-100vw) skew(0); } }
  .cast:nth-child(even) {
    transform: skew(-12deg) translateX(100vw); }
    @media only screen and (max-width: 32em) {
      .cast:nth-child(even) {
        transform: translateX(100vw) skew(0); } }
  .cast > * {
    transform: skewX(12deg); }
    @media only screen and (max-width: 32em) {
      .cast > * {
        transform: skew(0); } }
  .cast__shape {
    width: 15rem;
    height: 15rem;
    margin: 2rem;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    shape-outside: circle(48.3%);
    transform: translateX(-1rem) skewX(12deg); }
    @media only screen and (max-width: 32em) {
      .cast__shape {
        transform: translateX(-1rem) skew(0); } }
    @media only screen and (max-width: 20.75em) {
      .cast__shape {
        transform: translateX(-1rem) skew(0);
        float: none; } }
  .cast__img {
    height: 15rem;
    width: 15rem;
    object-position: top center;
    transform: scale(1.2);
    transition: all .5s; }
  .cast__caption {
    position: absolute;
    top: 50%;
    left: 55%;
    font-size: 2.3rem;
    font-weight: 400;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all .5s; }
  .cast:hover .cast__img {
    transform: scale(1.6);
    filter: blur(3px) brightness(80%); }
  .cast:hover .cast__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .cast__text {
    font-size: 1.6rem; }
  @media only screen and (max-width: 32em) {
    .cast {
      transform: translateX(0) skew(0); } }

.photo-grid {
  width: 100%;
  padding: 2rem;
  /* Create four equal columns that sits next to each other */ }
  .photo-grid__row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .8rem; }
  .photo-grid__column {
    flex: 25%;
    max-width: 25%;
    padding: 0 .8rem; }
  .photo-grid__image {
    margin-top: 1.6rem;
    vertical-align: middle;
    width: 100%;
    cursor: pointer; }
    .photo-grid__image--large {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .photo-grid__load {
    background-color: transparent;
    width: 100%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.8rem;
    margin: 8rem auto; }
    .photo-grid__load:hover {
      text-decoration: underline;
      text-underline-offset: 0.8rem; }
  .photo-grid__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    z-index: 10000; }
  .photo-grid__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: 5;
    cursor: pointer; }
  .photo-grid__prev {
    left: 2rem; }
  .photo-grid__next {
    right: 2rem; }
  .photo-grid__close {
    position: absolute;
    top: 2rem;
    right: 6%;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: 5;
    cursor: pointer; }
  .photo-grid__wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s; }
  .photo-grid__container {
    display: block;
    width: 70%;
    height: auto;
    max-height: 80%; }
  .photo-grid__credit {
    text-align: center; }

/* Responsive layout - makes a two column-layout instead of four columns */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
.show {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  padding: 10rem 0;
  overflow: hidden;
  z-index: 5;
  background-color: #000; }
  .show__heading {
    color: #fff; }
  .show__container {
    margin: 0;
    padding: 0; }
  .show__photo {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .show__credit {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8rem; }
    @media only screen and (max-width: 56.25em) {
      .show__credit {
        font-size: 0.5rem; } }
  .show__photos {
    position: relative;
    width: 55%;
    padding: 0.5rem 1.5rem 0 1.5rem;
    border: 8px solid #3d0000;
    background-color: #000;
    transform: translateY(200vh);
    transition: all 1.2s; }
    .show__photos-container {
      position: relative;
      min-height: 45rem; }
    .show__photos-1 {
      position: absolute;
      top: 2rem;
      left: 0; }
    .show__photos-2 {
      position: absolute;
      top: 6rem;
      right: 0; }
    .show__photos-3 {
      position: absolute;
      top: 12rem;
      left: 20%; }
    .show__photos:hover {
      z-index: 20;
      transition: all .5s !important;
      transform: scale(1.2) translateY(-20px) !important;
      border: 1rem solid #3d0000; }
    @media only screen and (max-width: 32em) {
      .show__photos {
        position: relative;
        display: block;
        width: 100%;
        align-items: center;
        margin: 0 0 2rem;
        top: auto;
        left: auto;
        right: auto; } }

.tickets {
  display: flex;
  position: fixed;
  top: 0;
  left: -100vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 5000;
  background-color: rgba(177, 12, 12, 0.5);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  color: #000;
  transition: all .5s; }
  .tickets__overlay {
    position: relative;
    width: 80%;
    height: 60%;
    background-color: #fff;
    display: flex; }
    @media only screen and (max-width: 42em) {
      .tickets__overlay {
        width: 95%; } }
    @media only screen and (max-width: 32em) {
      .tickets__overlay {
        width: 100%;
        flex-direction: column;
        height: auto; } }
  .tickets__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer; }
  .tickets__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem; }
  .tickets__span {
    display: block; }
  .tickets__image {
    margin: 2rem;
    max-width: 50%; }
    @media only screen and (max-width: 32em) {
      .tickets__image {
        content: url("/images/carrie.svg");
        max-width: none;
        width: calc(100% - 4rem); } }
  .tickets__heading {
    color: currentColor;
    align-self: center;
    padding: 0;
    margin: 0; }
    @media only screen and (max-width: 56.25em) {
      .tickets__heading {
        font-size: 3rem; } }
    @media only screen and (max-width: 42em) {
      .tickets__heading {
        font-size: 2rem; } }
  .tickets__info {
    margin: 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    width: 80%; }
    @media only screen and (max-width: 42em) {
      .tickets__info {
        font-size: 1.3rem; } }
  .tickets__button {
    display: block;
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(to right, #b10c0c, #3d0000);
    color: #fff;
    border: none;
    font-size: 1.6rem; }
  .tickets__form {
    width: 80%; }
  .tickets__input {
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    font-size: 1.6rem; }

.grid {
  display: grid;
  gap: 6rem;
  margin: 0 auto;
  max-width: 144rem;
  align-items: center; }
  .grid--col-2 {
    grid-template-columns: 1fr 1fr; }
    .grid--col-2 > :first-child {
      margin-left: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .grid--col-2 > :first-child {
          margin-left: 0; } }
    .grid--col-2 > :last-child {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .grid--col-2 > :last-child {
          margin-right: 0; } }
    @media only screen and (max-width: 56.25em) {
      .grid--col-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        max-width: 75%; } }

.header {
  position: relative;
  width: 100%;
  margin-top: -7rem;
  background-color: #000; }
  @media only screen and (max-width: 42em) {
    .header {
      height: 100vh; } }
  .header__text-box {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    @media only screen and (max-height: 42em) {
      .header__text-box {
        top: 50%; } }
    @media only screen and (max-height: 30em) {
      .header__text-box {
        top: 25rem; } }
  .header__img {
    margin-top: 2rem;
    width: 90%; }
    @media only screen and (max-height: 30em) {
      .header__img {
        width: 50%; } }
  .header__title-lower {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%); }
    @media only screen and (max-height: 42em) {
      .header__title-lower {
        bottom: 0; } }

.navigation {
  position: fixed;
  top: 0;
  background-color: #1c1c21;
  font-size: 1.7rem;
  text-transform: uppercase;
  overflow-y: auto;
  width: 100%;
  z-index: 4005; }
  .navigation__container {
    height: 100%;
    max-height: 100vh;
    width: 100%; }
  .navigation__list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding-right: 4rem; }
    @media only screen and (max-width: 42em) {
      .navigation__list {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        text-align: center;
        width: 100%;
        z-index: 1500;
        padding-right: 0;
        transition: all 1s; } }
  .navigation__item {
    display: inline-block;
    height: 100%;
    padding: 1.2rem 1.2rem 1.6rem 1.2rem;
    border-top: .8rem solid transparent;
    transition: transform .5s; }
    .navigation__item:hover, .navigation__item:focus {
      border-top: 0.8rem solid #9b9a9a; }
    .navigation__item:hover .navigation__link,
    .navigation__item:focus .navigation__link {
      color: #8a0505; }
    .navigation__item--active {
      border-top: 0.8rem solid #8a0505; }
      .navigation__item--active:hover, .navigation__item--active:focus {
        border-top: 0.8rem solid #9b9a9a; }
      @media only screen and (max-width: 42em) {
        .navigation__item--active {
          border: 3px solid #8a0505; } }
    @media only screen and (max-width: 42em) {
      .navigation__item {
        display: block;
        opacity: 0;
        height: auto;
        padding: .7rem;
        width: 30%;
        margin: 0 auto; } }
  .navigation__link {
    display: inline-block;
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 42em) {
      .navigation__link {
        display: block; } }
  .navigation__button {
    display: none;
    background-color: #131316;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 1rem;
    right: 3rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.1);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 42em) {
      .navigation__button {
        display: block; } }
  .navigation__background {
    display: none;
    background-image: radial-gradient(#131316, #2f3037);
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 1.5rem;
    right: 3.5rem;
    border-radius: 50%;
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 42em) {
      .navigation__background {
        display: block; } }
  .navigation__icon {
    width: 3rem;
    height: .6rem;
    border-radius: 10rem;
    background-color: #fff;
    z-index: 50;
    margin-top: 3.5rem;
    transform: translate(-50%, -50%); }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      content: '';
      position: absolute;
      width: 3rem;
      height: .6rem;
      border-radius: 10rem;
      background-color: #fff;
      transition: all .2s; }
    .navigation__icon::before {
      top: -1rem;
      left: 0; }
    .navigation__icon::after {
      top: 1rem;
      left: 0; }
  .navigation__toggled .navigation__background {
    transform: scale(30); }
  .navigation__toggled .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__toggled .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__toggled .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__toggled .navigation__list {
    transform: translateX(-100%); }
  .navigation__toggled .navigation__item {
    opacity: 1; }

.toggled {
  overflow-y: hidden; }

body.toggled .navigation {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0; }

section {
  margin: 0;
  width: 100%; }

.header-background {
  position: absolute;
  top: 0;
  height: 120vh;
  width: 100vw;
  background-color: #000; }

.gallery {
  padding: 4rem;
  margin-top: -22vh;
  background-color: #111111; }
  @media only screen and (max-width: 42em) {
    .gallery {
      padding: 4rem 0; } }

.section-show {
  background-color: #000; }

.section-mobsters {
  position: relative;
  margin-top: -19.2vh;
  padding: 10rem 0;
  z-index: 4;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-image: linear-gradient(rgba(61, 0, 0, 0.8), rgba(61, 0, 0, 0.8)); }

.background-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center; }

.background-img1 {
  display: none; }
  @media only screen and (max-width: 32em) {
    .background-img1 {
      display: block; } }

.background-img2 {
  display: block; }
  @media only screen and (max-width: 32em) {
    .background-img2 {
      display: none; } }

.main-gallery {
  position: relative;
  margin-top: 10rem; }

.main-gallery {
  width: 100%; }
  .main-gallery__title-bar {
    width: 100%;
    display: flex; }
  .main-gallery__heading {
    display: inline-block;
    margin-right: auto; }
  .main-gallery__form {
    display: inline-block;
    margin-left: auto; }

.subscribed {
  width: 80%;
  margin: 8rem auto; }
  .subscribed__mailto, .subscribed__return {
    text-decoration: underline;
    text-underline-offset: .8rem; }
