$color-black: #000;
$color-white: #fff;

$color-grey-light: #2f3037;
$color-grey-mid: #1c1c21;
$color-grey-dark: #131316;

$color-red-blood: rgb(177, 12, 12);
$color-red-light: #780000;
$color-red-mid: #660000;
$color-red-dark: #3d0000;