$color-black: #000;
$color-white: #fff;

$color-grey-light: #2f3037;
$color-grey-mid: #1c1c21;
$color-grey-dark: #131316;

$color-red-blood: rgb(177, 12, 12);
$color-red-light: #780000;
$color-red-mid: rgb(102, 0, 0);
$color-red-dark: rgb(61, 0, 0);

$color-green: #004540;
$color-blue: #032c4d;
$color-orange: #7e3110;
$color-purple: #360825;