<% layout('layout/boilerplate')%>
    <script src="/js/main.js" type="module" defer></script>
    <title>Aquamob NOLA</title>
    </head>

    <body>
        <div class="header-background">
        </div>
        <header class="header" id="top">
            <div class="bloody">
                <canvas class="bloody__canvas"></canvas>
                <button class=" bloody__stop">Stop the blood!</button>
            </div>
            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">aquamob nola</span>
                    <span class="heading-primary--sub">presents:</span>
                </h1>
                <img src="/images/carrie.svg" alt="Carrie movie logo" class="header__img">
            </div>
            <h1 class="heading-primary--lower header__title-lower">a water ballet</h1>
        </header>
        <main class="main">
            <div class="section-wrapper">
                <section class="section-backdrop section-show rotate" id="show">
                    <div class="show">
                        <h2 class="heading-secondary show__heading mb-large mt-large">The Show</h2>
                        <div class="grid grid--col-2 extra-padding">
                            <div class="show__container">
                                <h3 class="heading-tertiary mb-xsmall">A Blurb About The Show</h3>
                                <p class="show__text mb-small">Some of the most amazing artists and creators from around
                                    the
                                    New
                                    Orleans
                                    area come together each year to collaborate on the next new show. <br /> This is
                                    where
                                    we can
                                    put
                                    together some text about the show/what aquamob stands for and represents/anything
                                    else.... <br />
                                </p>
                                <h3 class="heading-tertiary mb-xsmall">Some Filler Text. Put something here</h3>
                                <p class="show__text">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, provident eius
                                    nihil ut
                                    facilis, est repellat temporibus aut, atque delectus iure distinctio aliquam tempora
                                    doloremque ratione itaque harum rem! Dolore!
                                    Velit veniam magnam pariatur magni nihil temporibus nam ea praesentium. Dolor
                                    asperiores, eius quo magnam totam earum blanditiis harum in enim voluptatem
                                    necessitatibus, porro nihil, ullam deserunt doloribus quas recusandae?
                                    Dolore doloremque ab mollitia quibusdam facilis quis minima delectus suscipit,
                                    adipisci
                                    rem voluptatem quidem commodi vel consequatur fuga, sed, labore cum. Repellat,
                                    aliquid
                                    maiores cumque maxime est repellendus facilis magni?
                                </p>
                            </div>
                            <div class="show__photos-container">
                                <div class="show__photos show__photos-1">
                                    <img srcset="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8293-225.webp 400w, /images/suspiriAcgua/raymond-rehage/raymond-rehage-8293-600.webp 600w"
                                        sizes="100%" src="images/raymond-rehage-crown-sm.webp" alt="an actress"
                                        class="show__photo" />
                                    <p class="photo-credit show__credit">Photo by Raymond Rehage</p>
                                </div>
                                <div class="show__photos show__photos-2">
                                    <img srcset="/images/ripley/eli-mergel/eli-mergel-1602-225.webp 400w, /images/ripley/eli-mergel/eli-mergel-1602-600.webp 600w"
                                        sizes="100%" src="images/eli-mergel-pool-shot-med.webp"
                                        alt="swimmers in the pool" class="show__photo" />
                                    <p class="photo-credit show__credit">Photo by Eli Mergel</p>
                                </div>
                                <div class="show__photos show__photos-3">
                                    <img srcset="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8811-225.webp 400w, /images/suspiriAcgua/raymond-rehage/raymond-rehage-8811-600.webp 600w"
                                        sizes="100%" src="raymond-rehage-synchronized-med.webp"
                                        alt="swimmers in the pool" class="show__photo" />
                                    <p class="photo-credit show__credit">Photo by Raymond Rehage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="background-image"><img src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8677-400.webp"
                    alt="" class="background-img1 background-img"><img
                    src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8677-2000.webp" alt=""
                    class="background-img2 background-img">
            </div>
            <section id="mobsters" class="section-mobsters mobsters">
                <div class="center-text mb-large">
                    <h2 class="heading-secondary mt-large">Meet The Mobsters</h2>
                </div>
                <div class="mobsters__cast">
                    <div class="cast mb-large">
                        <figure class="cast__shape">
                            <img src="/images/female-profile.webp" alt="Avatar" class="cast__img">
                            <figcaption class="cast__caption">Jane Doe</figcaption>
                        </figure>
                        <div class="cast__text">
                            <h3 class="heading-tertiary">Cast Member</h3>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, ea neque? Praesentium
                                asperiores
                                quam consequuntur expedita laborum consectetur, officia eum maxime omnis ipsa veniam
                                minima
                                quibusdam ratione libero, velit eveniet!
                                Commodi corporis fugiat soluta sint quisquam magnam. Hic asperiores tempora laboriosam
                                quibusdam
                                inventore accusamus ut sapiente itaque. Esse accusamus quidem quos in quas laboriosam
                                consectetur et consequatur tenetur? Porro, nemo?
                            </p>
                        </div>
                    </div>
                    <div class="cast mb-large">
                        <figure class="cast__shape">
                            <img src="/images/female-profile3.webp" alt="Avatar" class="cast__img">
                            <figcaption class="cast__caption">Jane Doe</figcaption>
                        </figure>
                        <div class="cast__text">
                            <h3 class="heading-tertiary">Dancer</h3>
                            <p>
                                Quia sunt ipsum accusamus cupiditate dicta illo labore at distinctio! Consequatur quam
                                aperiam
                                aliquam eligendi est culpa repellat hic rem, quod dolor dolorum commodi alias, nemo
                                dicta
                                saepe
                                deserunt quidem.
                                Earum, veniam ex maiores ratione provident eos dolor velit atque aspernatur nemo dolorem
                                harum,
                                ipsum reiciendis modi, repellendus at cumque quia corporis adipisci sapiente fugit. Nisi
                                aspernatur illo ea natus?
                            </p>
                        </div>
                    </div>
                    <div class="cast mb-large">
                        <figure class="cast__shape">
                            <img src="/images/female-profile2.webp" alt="Avatar" class="cast__img">
                            <figcaption class="cast__caption">Jane Doe</figcaption>
                        </figure>
                        <div class="cast__text">
                            <h3 class="heading-tertiary">Tech Team</h3>
                            <p>
                                Quia sunt ipsum accusamus cupiditate dicta illo labore at distinctio! Consequatur quam
                                aperiam
                                aliquam eligendi est culpa repellat hic rem, quod dolor dolorum commodi alias, nemo
                                dicta
                                saepe
                                deserunt quidem.
                                Earum, veniam ex maiores ratione provident eos dolor velit atque aspernatur nemo dolorem
                                harum,
                                ipsum reiciendis modi, repellendus at cumque quia corporis adipisci sapiente fugit. Nisi
                                aspernatur illo ea natus?
                            </p>
                        </div>
                    </div>
                    <div class="cast mb-large">
                        <figure class="cast__shape">
                            <img src="/images/male-profile.webp" alt="Avatar" class="cast__img">
                            <figcaption class="cast__caption">John Doe</figcaption>
                        </figure>
                        <div class="cast__text">
                            <h3 class="heading-tertiary">Design Team</h3>
                            <p>
                                Quia, dolorem. Praesentium voluptatum, nulla iure nisi sequi, qui consequuntur inventore
                                atque
                                voluptate cum, saepe quia mollitia blanditiis placeat corporis sit illo consequatur
                                fuga!
                                Asperiores commodi quidem possimus tempora totam!
                                Accusamus doloribus quaerat ducimus accusantium blanditiis sint, soluta consequatur? Ea
                                voluptatum aliquam magnam necessitatibus expedita perferendis minus consectetur delectus
                                quam,
                                alias dignissimos, iure sed quo et enim deserunt deleniti voluptatibus?
                            </p>
                        </div>
                    </div>
                    <a class="btn-more center-text mb-large extra-padding">View the rest of the cast and crew &rarr;
                        &#40;inactive link&#41; </a>
                </div>
            </section>
            <div class="section-wrapper">
                <section id="gallery" class="section-backdrop gallery rotate">
                    <div class="center-text mb-large mt-medium">
                        <h2 class="heading-secondary mt-large">Photo Gallery</h2>
                    </div>
                    <div class="center-text">
                        <h3 class="heading-tertiary">2022: Ripley and the Cat</h3>
                    </div>
                    <div class="gallery__grid mb-large">
                        <img class="gallery__item gallery__item--1" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-9-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-9-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-9-350.webp" alt="">
                        <img class="gallery__item gallery__item--2" srcset="/images/ripley/eli-mergel/eli-mergel-1663-600.webp 600w,
                            /images/ripley/eli-mergel/eli-mergel-1663-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/eli-mergel/eli-mergel-1663-350.webp" alt="">
                        <img class="gallery__item gallery__item--3" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-43-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-43-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-43-350.webp" alt="">
                        <img class="gallery__item gallery__item--4" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-54-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-54-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-54-350.webp" alt="">
                        <img class="gallery__item gallery__item--5" srcset="/images/ripley/madeline-corcoran-1403-600.webp 600w,
                        /images/ripley/madeline-corcoran-1403-350.webp 350w" , sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/madeline-corcoran-1403-350.webp" alt="">
                        <img class="gallery__item gallery__item--6" srcset="/images/ripley/raymond-rehage/raymond-rehage-1402-600.webp 600w,
                        /images/ripley/raymond-rehage/raymond-rehage-1402-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/raymond-rehage/raymond-rehage-1402-350.webp" alt="">
                        <img class="gallery__item gallery__item--7" srcset="/images/ripley/eli-mergel/eli-mergel-1584-600.webp 600w,
                            /images/ripley/eli-mergel/eli-mergel-1584-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/eli-mergel/eli-mergel-1584-350.webp" alt="">
                        <img class="gallery__item gallery__item--8" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-70-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-70-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-70-350.webp" alt="">
                        <img class="gallery__item gallery__item--9" srcset="/images/ripley/eli-mergel/eli-mergel-1767-600.webp 600w,
                            /images/ripley/eli-mergel/eli-mergel-1767-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/eli-mergel/eli-mergel-1767-350.webp" alt="">
                        <img class="gallery__item gallery__item--10" srcset="/images/ripley/eli-mergel/eli-mergel-1725-600.webp 600w,
                            /images/ripley/eli-mergel/eli-mergel-1725-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/eli-mergel/eli-mergel-1725-350.webp" alt="">
                        <img class="gallery__item gallery__item--11" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-11-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-11-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-11-350.webp" alt="">
                        <img class="gallery__item gallery__item--12" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-21-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-21-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-21-350.webp" alt="">
                    </div>
                    <a href="/gallery/?show=true&name=ripley" class="btn-more center-text mb-large">View the full
                        gallery
                        &rarr;</a>
                    <div class="center-text">
                        <h3 class="heading-tertiary">2021: SuspiriAcqua</h3>
                    </div>
                    <div class="gallery__grid mb-large">
                        <img class="gallery__item gallery__item--1a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8791-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8791-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8791-350.webp" alt="">
                        <img class="gallery__item gallery__item--2a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8810-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8810-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8810-350.webp" alt="">
                        <img class="gallery__item gallery__item--3a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8778-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8778-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8778-350.webp" alt="">
                        <img class="gallery__item gallery__item--4a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8693-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8693-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8693-350.webp" alt="">
                        <img class="gallery__item gallery__item--5a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8790-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8790-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8790-350.webp" alt="">
                        <img class="gallery__item gallery__item--6a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8377-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8377-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8377-350.webp" alt="">
                        <img class="gallery__item gallery__item--7a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8724-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8724-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8724-350.webp" alt="">
                        <img class="gallery__item gallery__item--8a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8105-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8105-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8105-350.webp" alt="">
                        <img class="gallery__item gallery__item--9a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8769-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8769-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8769-350.webp" alt="">
                        <img class="gallery__item gallery__item--10a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8556-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8556-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8556-350.webp" alt="">
                        <img class="gallery__item gallery__item--11a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8271-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8271-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8271-350.webp" alt="">
                        <img class="gallery__item gallery__item--12a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8753-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8753-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8753-350.webp" alt="">
                    </div>
                    <a href="/gallery/?show=true&name=suspiriacqua" class="btn-more center-text mb-large">View the full
                        gallery
                        &rarr;</a>
                    <div class="center-text">
                        <h3 class="heading-tertiary">2019: Watership Damn!</h3>
                    </div>
                    <div class="gallery__grid">
                        <img class="gallery__item gallery__item--1" srcset="/images/watership-damn/erin-nelson/erin-nelson-19-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-19-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-19-350.webp" alt="">
                        <img class="gallery__item gallery__item--2" srcset="/images/watership-damn/erin-nelson/erin-nelson-2-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-2-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-2-350.webp" alt="">
                        <img class="gallery__item gallery__item--3" srcset="/images/watership-damn/erin-nelson/erin-nelson-3-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-3-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-3-350.webp" alt="">
                        <img class="gallery__item gallery__item--4" srcset="/images/watership-damn/erin-nelson/erin-nelson-8-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-8-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-8-350.webp" alt="">
                        <img class="gallery__item gallery__item--5" srcset="/images/watership-damn/erin-nelson/erin-nelson-4-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-4-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-4-350.webp" alt="">
                        <img class="gallery__item gallery__item--6" srcset="/images/watership-damn/erin-nelson/erin-nelson-9-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-9-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-9-350.webp" alt="">
                        <img class="gallery__item gallery__item--7" srcset="/images/watership-damn/erin-nelson/erin-nelson-7-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-7-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-7-350.webp" alt="">
                        <img class="gallery__item gallery__item--8" srcset="/images/watership-damn/erin-nelson/erin-nelson-12-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-12-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-12-350.webp" alt="">
                        <img class="gallery__item gallery__item--9" srcset="/images/watership-damn/erin-nelson/erin-nelson-5-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-5-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-5-350.webp" alt="">
                        <img class="gallery__item gallery__item--10" srcset="/images/watership-damn/erin-nelson/erin-nelson-11-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-11-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-11-350.webp" alt="">
                        <img class="gallery__item gallery__item--11" srcset="/images/watership-damn/erin-nelson/erin-nelson-1-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-1-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-1-350.webp" alt="">
                        <img class="gallery__item gallery__item--12" srcset="/images/watership-damn/erin-nelson/erin-nelson-14-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-14-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-14-350.webp" alt="">
                    </div>
                    <a href="/gallery/?show=true&name=watershipdamn" class="btn-more center-text mb-large">View the full
                        gallery
                        &rarr;</a>
                    <div class="center-text">
                        <h3 class="heading-tertiary">2018: The Last</h3>
                    </div>
                    <div class="gallery__grid--small">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-8-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-8-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-8-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-1-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-1-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-1-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-2-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-2-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-2-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-3-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-3-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-3-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-5-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-5-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-5-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-6-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-6-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-6-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-7-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-7-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-7-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-4-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-4-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-4-350.webp" alt="">
                    </div>
                    <a href="/gallery/?show=true&name=thelast" class="btn-more center-text mb-large">View the full
                        gallery
                        &rarr;</a>

                    <div class="center-text">
                        <h3 class="heading-tertiary">2017: Two Legs Bad</h3>
                    </div>
                    <div class="gallery__grid--small">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/devin-flemingo/devin-flemingo-1-600.webp 600w,
                        /images/two-legs-bad/devin-flemingo/devin-flemingo-1-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/devin-flemingo/devin-flemingo-1-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-1-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-1-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-1-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-2-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-2-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-2-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-3-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-3-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-3-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-5-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-5-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-5-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-6-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-6-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-6-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-7-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-7-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-7-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-4-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-4-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-4-350.webp" alt="">
                    </div>
                    <a href="/gallery/?show=true&name=twolegsbad" class="btn-more center-text mb-large">View the full
                        gallery
                        &rarr;</a>

                    <p class="gallery__text">or</p>
                    <a href="/gallery/?name=all" class="btn-more center-text mb-large extra-padding">View all photos
                        &rarr;</a>
                </section>
            </div>
            <section id="contact" class="contact">
                <div class="contact__container">
                    <div class="contact__image--container">
                        <img src="images/envelope.svg" alt="envelope icon" class="contact__image">
                    </div>
                    <h2 class="contact__heading mt-medium">Send Us A Message</h2>
                    <form action="/contact" method="POST" class="contact__form index__form">
                        <div class="contact__col">
                            <input type="text" class="contact__input contact__input--name" id="fullName" name="fullName"
                                placeholder="Full Name">
                            <input type="email" name="email" class="contact__input contact__input--email"
                                placeholder="Email address">
                        </div>
                        <div class="contact__col">
                            <textarea name="message" id="message" class="contact__input contact__input--text" cols="30"
                                rows="10" placeholder="Enter your message here."></textarea>
                        </div>
                        <button class="contact__button submit--btn" type="submit">Send</button>
                    </form>
                </div>
            </section>
        </main>
    </body>

    </html>