<% layout('layout/boilerplate')%>
    <script src="https://www.google.com/recaptcha/api.js" async defer>
    </script>
    <script src="/js/main.js" type="module" defer></script>
    <title>Aquamob NOLA</title>
    </head>

    <body>
        <div class="header-background">
        </div>
        <header class="header" id="top">
            <div class="bloody">
                <canvas class="bloody__canvas"></canvas>
                <button class=" bloody__stop">Stop the blood!</button>
            </div>
            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">aquamob nola</span>
                    <span class="heading-primary--sub">presents:</span>
                </h1>
                <img src="/images/carrie.svg" alt="Carrie movie logo" class="header__img">
            </div>
            <h1 class="heading-primary--lower header__title-lower">a water ballet</h1>
        </header>
        <main class="main">
            <div class="section-wrapper">
                <section class="section-backdrop section-show rotate" id="show">
                    <div class="show">
                        <h2 class="heading-secondary show__heading mb-large mt-large">The Show</h2>
                        <div class="grid grid--col-2 extra-padding">
                            <div class="show__container">
                                <h3 class="heading-tertiary mb-xsmall">Who is Aqua Mob?</h3>
                                <p class="show__text mb-small">Aqua Mob is New Orleans' first and only community-based
                                    water ballet ensemble. Open to all, Aqua Mob's mission is to make the joy of
                                    producing aquatic theater accessible to adults from all backgrounds.<br />
                                    The Pelican
                                    Bomb found Aqua Mob's 2017 debut performance of Two Legs Bad &#40;based on George
                                    Orwell's Animal Farm&#41; “resemble[d] a combination of Olympic gymnastics routines
                                    and
                                    Jurassic Park” and that the “violent circus . . .is a reminder of the . . .absolute
                                    farce of tyranny.” <br />
                                    We strive to meet this standard with each production! Through the
                                    years we have continued to tackle dystopian and horror themes with our
                                    interpretations of The Last Unicorn, Watership Down, Suspiria and Alien.<br />
                                </p>
                                <h3 class="heading-tertiary mb-xsmall">Carrie: Blood in the Water</h3>
                                <p class="show__text">
                                    Carrie: Blood in the Water is a Aqua Mob's sixth production. Continuing our
                                    tradition of adapting dystopian and horror themes to the aquatic stage, Carrie
                                    explores the pain, triumph, and tragedy of a telekinetically gifted teenage girl.
                                </p>
                            </div>
                            <div class="show__photos-container">
                                <div class="show__photos show__photos-1">
                                    <img srcset="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8293-225.webp 400w, /images/suspiriAcgua/raymond-rehage/raymond-rehage-8293-600.webp 600w"
                                        sizes="100%" src="images/raymond-rehage-crown-sm.webp" alt="an actress"
                                        class="show__photo" />
                                    <p class="photo-credit show__credit">Photo by Raymond Rehage</p>
                                </div>
                                <div class="show__photos show__photos-2">
                                    <img srcset="/images/ripley/eli-mergel/eli-mergel-1602-225.webp 400w, /images/ripley/eli-mergel/eli-mergel-1578-600.webp 600w"
                                        sizes="100%" src="images/eli-mergel-pool-shot-med.webp"
                                        alt="swimmers in the pool" class="show__photo" />
                                    <p class="photo-credit show__credit">Photo by Eli Mergel</p>
                                </div>
                                <div class="show__photos show__photos-3">
                                    <img srcset="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8811-225.webp 400w, /images/suspiriAcgua/raymond-rehage/raymond-rehage-8811-600.webp 600w"
                                        sizes="100%" src="raymond-rehage-synchronized-med.webp"
                                        alt="swimmers in the pool" class="show__photo" />
                                    <p class="photo-credit show__credit">Photo by Raymond Rehage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="background-image"><img src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8677-400.webp"
                    alt="" class="background-img1 background-img"><img
                    src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8677-2000.webp" alt=""
                    class="background-img2 background-img">
            </div>
            <section id="mobsters" class="section-mobsters mobsters">
                <div class="center-text mb-large">
                    <h2 class="heading-secondary mt-large">Announcements</h2>
                </div>
                <div class="events">
                    <!-- <div class="events__box">
                        <div class="events__topper">
                            <img src="/images/ripley/brian-boudreaux/brian-boudreaux-69-2000.webp"
                                alt="a women standing by a table laughing" class="events__image">
                        </div>
                        <h2 class="heading-tertiary events__heading">INFO NIGHT</h2>
                        <p class="events__date"><time datetime="2023-05-22">May 22</time>: 6 to 8pm</p>
                        <p class="events__text">
                            Curious about joining Aqua Mob or want to learn more?
                            Come to our free information night <time datetime="2023-05-22">Monday, May 22, 2023</time>
                            at the <a href="#footer__map" class="events__link">Drifter</a> at 6:00 p.m.
                        </p>
                        <div class="events__footer"><span class="events__disclaimer">Discount
                                code forthcoming!</span></div>
                    </div> -->
                    <div class="events__box">
                        <div class="events__topper">
                            <img src="/images/ripley/eli-mergel/eli-mergel-1602-2000.webp"
                                alt="an audience watching the show" class="events__image">
                        </div>
                        <h2 class="heading-tertiary events__heading">SHOW DATES!</h2>
                        <p class="events__date">September 28-30<br />October 5-7</p>
                        <p class="events__text">
                            It's official, we have our show dates! Shows will be held each night September 28-30 and
                            October 5-7.<br />
                            Tickets will go on sale later this summer. Want to be notified when they do? Subscribe to
                            our mailing list below.
                        </p>
                        <div class="events__footer"><span class="events__disclaimer"><button
                                    class="tickets-link events__button">Subscribe</button></span></div>
                    </div>
                </div>
            </section>
            <div class="section-wrapper">
                <section id="gallery" class="section-backdrop gallery rotate">
                    <div class="center-text mb-large mt-medium">
                        <h2 class="heading-secondary mt-large">Photo Gallery</h2>
                    </div>
                    <div class="center-text">
                        <h3 class="heading-tertiary">2022: Ripley and the Cat</h3>
                    </div>
                    <div class="gallery__grid mb-large">
                        <img class="gallery__item gallery__item--1" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-9-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-9-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-9-350.webp" alt="">
                        <img class="gallery__item gallery__item--2" srcset="/images/ripley/eli-mergel/eli-mergel-1663-600.webp 600w,
                            /images/ripley/eli-mergel/eli-mergel-1663-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/eli-mergel/eli-mergel-1663-350.webp" alt="">
                        <img class="gallery__item gallery__item--3" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-43-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-43-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-43-350.webp" alt="">
                        <img class="gallery__item gallery__item--4" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-54-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-54-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-54-350.webp" alt="">
                        <img class="gallery__item gallery__item--5" srcset="/images/ripley/madeline-corcoran-1403-600.webp 600w,
                        /images/ripley/madeline-corcoran-1403-350.webp 350w" , sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/madeline-corcoran-1403-350.webp" alt="">
                        <img class="gallery__item gallery__item--6" srcset="/images/ripley/raymond-rehage/raymond-rehage-1402-600.webp 600w,
                        /images/ripley/raymond-rehage/raymond-rehage-1402-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/raymond-rehage/raymond-rehage-1402-350.webp" alt="">
                        <img class="gallery__item gallery__item--7" srcset="/images/ripley/eli-mergel/eli-mergel-1584-600.webp 600w,
                            /images/ripley/eli-mergel/eli-mergel-1584-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/eli-mergel/eli-mergel-1584-350.webp" alt="">
                        <img class="gallery__item gallery__item--8" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-70-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-70-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-70-350.webp" alt="">
                        <img class="gallery__item gallery__item--9" srcset="/images/ripley/eli-mergel/eli-mergel-1767-600.webp 600w,
                            /images/ripley/eli-mergel/eli-mergel-1767-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/eli-mergel/eli-mergel-1767-350.webp" alt="">
                        <img class="gallery__item gallery__item--10" srcset="/images/ripley/eli-mergel/eli-mergel-1725-600.webp 600w,
                            /images/ripley/eli-mergel/eli-mergel-1725-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/eli-mergel/eli-mergel-1725-350.webp" alt="">
                        <img class="gallery__item gallery__item--11" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-11-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-11-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-11-350.webp" alt="">
                        <img class="gallery__item gallery__item--12" srcset="/images/ripley/brian-boudreaux/brian-boudreaux-21-600.webp 600w,
                            /images/ripley/brian-boudreaux/brian-boudreaux-21-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/ripley/brian-boudreaux/brian-boudreaux-21-350.webp" alt="">
                    </div>
                    <a href="/gallery/?show=true&name=ripley" class="btn-more center-text mb-large">View the full
                        gallery
                        &rarr;</a>
                    <div class="center-text">
                        <h3 class="heading-tertiary">2021: SuspiriAcqua</h3>
                    </div>
                    <div class="gallery__grid mb-large">
                        <img class="gallery__item gallery__item--1a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8791-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8791-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8791-350.webp" alt="">
                        <img class="gallery__item gallery__item--2a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8810-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8810-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8810-350.webp" alt="">
                        <img class="gallery__item gallery__item--3a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8778-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8778-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8778-350.webp" alt="">
                        <img class="gallery__item gallery__item--4a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8693-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8693-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8693-350.webp" alt="">
                        <img class="gallery__item gallery__item--5a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8790-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8790-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8790-350.webp" alt="">
                        <img class="gallery__item gallery__item--6a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8377-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8377-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8377-350.webp" alt="">
                        <img class="gallery__item gallery__item--7a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8724-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8724-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8724-350.webp" alt="">
                        <img class="gallery__item gallery__item--8a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8105-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8105-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8105-350.webp" alt="">
                        <img class="gallery__item gallery__item--9a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8769-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8769-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8769-350.webp" alt="">
                        <img class="gallery__item gallery__item--10a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8556-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8556-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8556-350.webp" alt="">
                        <img class="gallery__item gallery__item--11a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8271-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8271-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8271-350.webp" alt="">
                        <img class="gallery__item gallery__item--12a" srcset="images/suspiriAcgua/raymond-rehage/raymond-rehage-8753-600.webp 600w,
                            /images/suspiriAcgua/raymond-rehage/raymond-rehage-8753-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/suspiriAcgua/raymond-rehage/raymond-rehage-8753-350.webp" alt="">
                    </div>
                    <a href="/gallery/?show=true&name=suspiriacqua" class="btn-more center-text mb-large">View the full
                        gallery
                        &rarr;</a>
                    <div class="center-text">
                        <h3 class="heading-tertiary">2019: Watership Damn!</h3>
                    </div>
                    <div class="gallery__grid">
                        <img class="gallery__item gallery__item--1" srcset="/images/watership-damn/erin-nelson/erin-nelson-19-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-19-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-19-350.webp" alt="">
                        <img class="gallery__item gallery__item--2" srcset="/images/watership-damn/erin-nelson/erin-nelson-2-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-2-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-2-350.webp" alt="">
                        <img class="gallery__item gallery__item--3" srcset="/images/watership-damn/erin-nelson/erin-nelson-3-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-3-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-3-350.webp" alt="">
                        <img class="gallery__item gallery__item--4" srcset="/images/watership-damn/erin-nelson/erin-nelson-8-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-8-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-8-350.webp" alt="">
                        <img class="gallery__item gallery__item--5" srcset="/images/watership-damn/erin-nelson/erin-nelson-4-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-4-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-4-350.webp" alt="">
                        <img class="gallery__item gallery__item--6" srcset="/images/watership-damn/erin-nelson/erin-nelson-9-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-9-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-9-350.webp" alt="">
                        <img class="gallery__item gallery__item--7" srcset="/images/watership-damn/erin-nelson/erin-nelson-7-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-7-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-7-350.webp" alt="">
                        <img class="gallery__item gallery__item--8" srcset="/images/watership-damn/erin-nelson/erin-nelson-12-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-12-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-12-350.webp" alt="">
                        <img class="gallery__item gallery__item--9" srcset="/images/watership-damn/erin-nelson/erin-nelson-5-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-5-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-5-350.webp" alt="">
                        <img class="gallery__item gallery__item--10" srcset="/images/watership-damn/erin-nelson/erin-nelson-11-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-11-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-11-350.webp" alt="">
                        <img class="gallery__item gallery__item--11" srcset="/images/watership-damn/erin-nelson/erin-nelson-1-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-1-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-1-350.webp" alt="">
                        <img class="gallery__item gallery__item--12" srcset="/images/watership-damn/erin-nelson/erin-nelson-14-600.webp 600w,
                        /images/watership-damn/erin-nelson/erin-nelson-14-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/watership-damn/erin-nelson/erin-nelson-14-350.webp" alt="">
                    </div>
                    <a href="/gallery/?show=true&name=watershipdamn" class="btn-more center-text mb-large">View the full
                        gallery
                        &rarr;</a>
                    <div class="center-text">
                        <h3 class="heading-tertiary">2018: The Last</h3>
                    </div>
                    <div class="gallery__grid--small">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-8-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-8-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-8-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-1-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-1-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-1-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-2-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-2-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-2-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-3-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-3-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-3-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-5-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-5-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-5-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-6-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-6-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-6-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-7-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-7-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-7-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/the-last/josh-hailey/josh-hailey-4-600.webp 600w,
                        /images/the-last/josh-hailey/josh-hailey-4-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/the-last/josh-hailey/josh-hailey-4-350.webp" alt="">
                    </div>
                    <a href="/gallery/?show=true&name=thelast" class="btn-more center-text mb-large">View the full
                        gallery
                        &rarr;</a>

                    <div class="center-text">
                        <h3 class="heading-tertiary">2017: Two Legs Bad</h3>
                    </div>
                    <div class="gallery__grid--small">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/devin-flemingo/devin-flemingo-1-600.webp 600w,
                        /images/two-legs-bad/devin-flemingo/devin-flemingo-1-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/devin-flemingo/devin-flemingo-1-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-1-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-1-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-1-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-2-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-2-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-2-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-3-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-3-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-3-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-5-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-5-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-5-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-6-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-6-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-6-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-7-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-7-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-7-350.webp" alt="">
                        <img class="gallery__item--small" srcset="/images/two-legs-bad/joseph-walton/joseph-walton-4-600.webp 600w,
                        /images/two-legs-bad/joseph-walton/joseph-walton-4-350.webp 350w" ,
                            sizes="(max-width: 75em) 300px, 600px"
                            src="/images/two-legs-bad/joseph-walton/joseph-walton-4-350.webp" alt="">
                    </div>
                    <a href="/gallery/?show=true&name=twolegsbad" class="btn-more center-text mb-large">View the full
                        gallery
                        &rarr;</a>

                    <p class="gallery__text">or</p>
                    <a href="/gallery/?name=all" class="btn-more center-text mb-large extra-padding">View all photos
                        &rarr;</a>
                </section>
            </div>
            <section id="contact" class="contact">
                <div class="contact__container">
                    <div class="contact__image--container">
                        <img src="images/envelope.svg" alt="envelope icon" class="contact__image">
                    </div>
                    <h2 class="contact__heading mt-medium">Send Us A Message</h2>
                    <form action="/contact" method="POST" class="contact__form index__form">
                        <div class="contact__col">
                            <input type="text" class="contact__input contact__input--name" id="fullName" name="fullName"
                                placeholder="Full Name">
                            <input type="email" name="email" class="contact__input contact__input--email"
                                placeholder="Email address">
                        </div>
                        <div class="contact__col">
                            <textarea name="message" id="message" class="contact__input contact__input--text" cols="30"
                                rows="10" placeholder="Enter your message here." required></textarea>
                        </div>
                        <div class="g-recaptcha" data-sitekey='<%= sitekey %>'></div>
                        <p class="captcha-msg"></p>
                        <button class="contact__button submit--btn" type="submit">Send</button>
                    </form>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__diagonal"></div>
            <div class="footer__container">
                <div class="footer__text">
                    <p class="footer_desc">
                        All shows are held at The Drifter Hotel.<br />
                        3522 Tulane Ave.
                        New Orleans, LA
                    </p>
                </div>
                <div class="footer__map" id="footer__map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.4670312712065!2d-90.10280262377452!3d29.96600532228169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8620a58efcd8cfed%3A0x552e85c036e0c40!2sThe%20Drifter%20Hotel!5e0!3m2!1sen!2sus!4v1683902057623!5m2!1sen!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" class="footer__map--display"></iframe>
                </div>
            </div>
            <div class="footer__attribution">
                <p class="footer__sam">Page designed and built by Sam Atkins. <a href="https://samcantwait.com"
                        class="footer__portfolio" target="_blank">View my portfolio</a></p>
            </div>
        </footer>
    </body>

    </html>