.happenings {

    &__card {
        width: 25%;
        background-color: #151515;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1.6rem;
    }

    &__intro {
        text-align: center;
    }

    &__text {
        width: 75%;
        margin: auto;
    }

    &__list {
        display: block;
        width: max-content;
        max-width: 100%;
        margin: auto;
    }

    &__item {
        display: block;
        margin: 2rem 0;
    }

    &__heading {
        display: inline-block;
        margin-right: 2rem;

    }

    &__footer {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 200;
    }
}