*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    vertical-align: baseline;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* Include media queries for font size here */
}

body {
    box-sizing: border-box;
    background-color: $color-black;
    overflow-x: hidden;
}

footer,
header,
nav,
section,
main {
    display: block;
}

ol,
ul {
    list-style: none;
}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: $color-white;
}