.center-text {
    display: inline-block;
    width: 100%;
    text-align: center !important;
}

.mb-large {
    margin-bottom: 8rem !important;
}

.mt-large {
    margin-top: 8rem !important;
}

.btn-more:hover,
.btn-more:active {
    text-decoration: underline;
    text-underline-offset: .8rem;
}